<p>Witaj <%= @user.username.capitalize %>!</p>

<p>W celu potwierdzenia rejestracji na portalu MatExch kliknij poniższy link:</p>

<p><%= link_to 'Potwierdź rejsetrację', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br/>

<p>
 Dziękujemy,<br/><br/>
 Portal MatExch<br/>
</p>
