<p>Witaj <%= @resource.username.capitalize %>!</p>

<p>Ktoś wystosował zapytanie o zmianę hasła. Można to zrobić klikając poniższy link.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Jeśli to nie TY. Prosimy zignoruj ten mail.</p>
<p>Twoje hasło nie zostanie zmienione jeśli nie klikniesz na powyższy link</p>
<br/>

<p>
 Dziękujemy,<br/><br/>
 Portal MatExch<br/>
</p>