<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8">
			<h1>Podaj swoje dane profilowe:</h1>
				<%= render 'form' %>
		</div>
		<div class="col-md-3"></div>
	</div>
</div> <!-- end container -->